/* Font Imports */

/* Bitter */
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

/* Scope One */
@import url("https://fonts.googleapis.com/css?family=Scope+One&display=swap");

/* Nunito - sans serif font */
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

html,
body {
  margin: 0px;
  padding: 0px;
}

/* HEADER */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* NAVIGATION */
.navigation-links li {
  display: inline-block;
  cursor: pointer;
  font-family: "Nunito", "Noto Sans JP", sans-serif;
  font-size: 14px;
}

.navigation-links a {
  padding: 10px 40px;
  display: block;
}

.navigation-links a:hover {
  border-bottom: 2px black solid;
}

.navigation-links {
  margin: 0px;
}

/* LANDING */

.animation #animation {
  position: relative;
  z-index: -1;
}

.landing {
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -100vh;
  color: white;
  position: relative;
  z-index: 1;
  text-align: center;
}

.landing--content {
  margin: 0;
  padding: 0;
  max-width: 650px;
  text-align: center;
}

.landing--content h1 {
  font-family: "Bitter", serif;
}

.landing--content h5 {
  font-family: "Scope One", serif;
}

/* DESCRIPTION */

/* SLIDESHOW */

/* FOOTER */
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background: #1b2845;
  text-align: center;
  padding-left: 0px;
  z-index: 1;
}

.footer li {
  display: inline-block;
  margin: 0px 35px;
  cursor: pointer;
  font-family: "Noto Sans JP", sans-serif;
}

.footer a {
  color: #9ac9e6;
  padding: 10px;
  display: block;
}
